<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
    <h1>Event Management System - Create User</h1>
    <!-- From Perspective of User - create user-->
    <button id="saveUserId" onclick=save_user>Save User</button>
    <button id="deleteUserDraftId" onclick=delete_user_draft>Delete User Draft</button>
    <table id=createUserTable>
        <td id=editWindow>Editing Window</td>
        <td id=listWindow>Window Space for List of either events or users</td>
    </table>
    
    <script type="text/javascript" src="index.js"></script>
</body>
</html>