{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Event</title>
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h1>Create A New Event</h1>

        <div class="topnav">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'edit-user' %}">Edit User</a>
            <a href="{% url 'blacklist' %}">Manage Blacklisting</a>
            <a class="active" href="{% url 'create-new-event' %}">Create Event</a>
            <a href="{% url 'edit-event' %}">Edit Event</a>
            <a href="{% url 'events-registered-for' %}">Events Registered For</a>
            <a href="{% url 'logout' %}">Logout</a>     
        </div>
        <br><br><br>

        <fieldset>
            {{ form.as_p }}
        </fieldset>
        <br>
        <button type="submit">Create Event</button>
</body>
</html>