<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Event</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h1>Create A New Event</h1>

        <a id="homeId" href="{% url 'home' %}">Home</a>
        <a id="createEventId" href="{% url 'create-new-event' %}">Create Event</a>
        <a id="editEventId" href="{% url 'edit-event' %}">Edit Event</a>
        <a href="{% url 'events-registered-for' %}">Events Registered For</a>
        <a href="{% url 'logout' %}">Logout</a>
        <br><br><br>

        <fieldset>
            {{ form.as_p }}
        </fieldset>
        <br>
        <button type="submit">Create Event</button>
</body>
</html>