<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Event</title>

    <style>  
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            padding-right: 18px;
        }
    </style>
</head>
<body>
    <h1>Edit or Delete Your Event(s)</h1>
    <a id="homeId" href="{% url 'home' %}">Home</a>
    <!-- <a id="createUserId" href="{% url 'user-registration' %}">Create User</a> -->
    <a id="editUserId" href="{% url 'edit-user' %}">Edit User</a>
    <a id="blacklistingId" href="{% url 'blacklist' %}">Manage Blacklisting</a>
    <a id="createEventId" href="{% url 'create-new-event' %}">Create Event</a>
    <a id="editEventId" href="{% url 'edit-event' %}">Edit Event</a>
    <a href="{% url 'events-registered-for' %}">Events Registered For</a>
    <a href="{% url 'logout' %}">Logout</a>
    <br><br><br>

    <div>
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Event Date</th>
                <th>Description</th>
                <th>Attendees</th>
            </tr>
            {% for event in events %}
            <!-- request.user will return a user object -->
                {% if request.user == event.author %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.author }}</td>
                    <td>{{ event.date_of_event }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.attendees }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
	
</body>
</html>
