{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>

    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
</head>
<body>
    <h1>Event Management System - Edit, Delete, or Blacklist User</h1>

    <div class="topnav">
        <a href="{% url 'home' %}">Home</a>
        <a class="active" href="{% url 'edit-user' %}">Edit User</a>
        <a href="{% url 'blacklist' %}">Manage Blacklisting</a>
        <a href="{% url 'create-new-event' %}">Create Event</a>
        <a href="{% url 'edit-event' %}">Edit Event</a>
        <a href="{% url 'events-registered-for' %}">Events Registered For</a>
        <a href="{% url 'logout' %}">Logout</a>     
    </div>
    <br><br><br>

    <!-- From Perspective of Staff Member
         - Edit, Delete, or Blacklist User-->
    <button id="deleteUserId" onclick=delete_user>Delete User</button>
    <button id="blacklistId" onclick=blacklist>Blacklist User</button>
    <table id=editUserTable>
        <td id=editWindow>Window Space for Editing</td>
        <td id=listWindow>Window Space for List of either events or users</td>
    </table>
    
    <script type="text/javascript" src="index.js"></script>
	
</body>
</html>