<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Registered For</title>

    <style>  
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            padding-right: 18px;
        }
    </style>
</head>
<body>
    <h1>Events Registered For</h1>
    <a id="homeId" href="{% url 'home' %}">Home</a>
    <!-- <a id="createUserId" href="{% url 'user-registration' %}">Create User</a> -->
    <a id="editUserId" href="{% url 'edit-user' %}">Edit User</a>
    <a id="blacklistingId" href="{% url 'blacklist' %}">Manage Blacklisting</a>
    <a id="createEventId" href="{% url 'create-new-event' %}">Create Event</a>
    <a id="editEventId" href="{% url 'edit-event' %}">Edit Event</a>
    <a href="{% url 'events-registered-for' %}">Events Registered For</a>
    <a href="{% url 'logout' %}">Logout</a>
    <br><br><br>

    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Event Date</th>
            <th>Description</th>
        </tr>
        {% for event in events %}
        <!-- user.username will return a string -->
            {% if user.username in event.attendees %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.author }}</td>
                    <td>{{ event.date_of_event }}</td>
                    <td>{{ event.description }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <br><br><br>
    <p></p>
</body>
</html>