<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Event Management System</h1>
    <button id="createUserId" onclick=create_user>Create User</button>
    <button id="editUserId" onclick=edit_user>Edit User</button>
    <button id="deleteUserId" onclick=delete_user>Delete User</button>
    <button id="blacklistUserId" onclick=blacklist_user>Blacklist User</button>
    <button id="createEventId" onclick=create_event>Create Event</button>
    <button id="editEventId" onclick=edit_event>Edit Event</button>
    <button id="deleteEventId" onclick=delete_event>Delete Event</button>
    
    <div id="bodyWindow"></div>
    
    <script type="text/javascript" src="index.js"></script>
	
</body>
</html>