<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Event Management System</h1>
    <button id="createUserId" onclick=create_user>Create User</button>
    <button id="editUserId" onclick=edit_user>Edit User</button>
    <button id="blacklistingId" onclick=blacklisting>Manage Blacklisting</button>
    <button id="createEventId" onclick=create_event>Create Event</button>
    <button id="editEventId" onclick=edit_event>Edit Event</button>

    <div id="body window"></div>

</body>
</html>