body {
	text-align: 		center;
	font-family: 		sans-serif;
	background-color: 	cornsilk;
}

h2 {
	font-family: 		monospace;
}

button {
	font-size: 			1.5em;
}

#editWindow {
    width: 50%;
    background-color: coral;
}

#listWindow {
    width: 50%;
    background-color: darkcyan;
}