<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Sign Up</title>
    <style>
        main {padding: 50px;}
        header {width: device-width;
                height: 100px;
                border-style: solid;
                padding: 20px;}
        #note {width: 400px;
               height: 100px;}
    </style>
    <script language="javascript">
        function checkNum(){
        var num = parseInt(document.getElementById("guest").value);
        if(num < 0 || num > 10 || isNaN(num)){
                alert("The guest number should be in the range of 0 to 10");
                document.getElementById("guest").value = "";
            }
        }

    </script>
</head>
<body>
    <header>
        <h1>Event Name</h1>
        <h3>Time Place</h3>
    </header>
    <main>
        <form action="myphp.php" method="post">
        <table>
            <tr><td>First Name:</td>
                <td><input type="text" id="fname"></td></tr>
            <tr><td>Last Name:</td>
                <td><input type="text" id="lname"></td></tr>
            <tr><td>Phone:</td>
                <td><input type="text" id="phone"></td></tr>
            <tr><td>Email:</td>
                <td><input type="text" id="email"></td></tr>
            <tr><td>Guest number:</td>
                <td><input type="text" id="guest" onblur="checkNum()"></td></tr>
            <tr><td>Note</td>
                <td><input type="text" id="note"></td></tr>
            <tr><td><button id="submit">Submit</button></td>
                <td><input id="clear" type="reset" value="Clear" /></td></tr>
        </table>
        </form>
    </main>
</body>
</html>