<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Sign Up</title>
    <style>
        main {padding: 50px;}
        header {width: device-width;
                height: 100px;
                background: yellow;
                padding: 20px;}
        #note {width: 400px;
               height: 100px;}
    </style>
</head>
<body>
    <header>
        <h1>Event Name</h1>
        <h3>Time Place</h3>
    </header>
    <main>
        <table>
            <tr><td>First Name:</td>
                <td><input type="text" id="fname"></td></tr>
            <tr><td>Last Name:</td>
                <td><input type="text" id="lname"></td></tr>
            <tr><td>Phone:</td>
                <td><input type="text" id="phone"></td></tr>
            <tr><td>Email:</td>
                <td><input type="text" id="email"></td></tr>
            <tr><td>Guest number:</td>
                <td><input type="text" id="guest"></td></tr>
            <tr><td>Note</td>
                <td><input type="text" id="note"></td></tr>
        </table>
        <button id="submit">Submit</button>
    </main>
</body>
</html>